---
import Layout from "@layouts/Layout.astro";

import { getCollection } from "astro:content";

const allIntroductions = await getCollection("introductions");
---

<Layout>
  <span class="text-4xl font-bold w-full">Hello Everyone!</span>
  <div class="border-b-2 border-foreground w-full mt-2"></div>
  <section class="md:px-4 py-4">
    <div class="w-full flex flex-col gap-4">
      <img
        src="/Introduce-Yourself/__about.jpg"
        alt="about"
        class="border-2 border-foreground md:h-32 h-20"
      />
      <div class="md:text-xl text-lg flex flex-col">
        <span class="mb-2"
          >Welcome to making your first <strong>github contribution!</strong
          ></span
        >
        <span>
          Here, you can introduce yourself to people and find others with common
          interests, eventually building meaningful connections with the hope of
          helping each other in your open source journey.
        </span>
        <span class="mt-2 mb-2">Heres how you get started...</span>
        <div class="md:text-lg text-[1rem] gap-2 md:ml-4 flex flex-col">
          <span>
            1. Make a <a
              href="https://github.com/Aditya-Jyoti/Introduce-Yourself"
              class="underline underline-offset-2">fork</a
            > and then clone <strong class="text-[0.9rem]"
              >[git clone "url"]</strong
            > that repository
          </span>
          <span>
            2. Make a new folder <strong class="text-[0.9rem]"
              >[your name]</strong
            > inside <strong class="text-[0.9rem]"
              >src/content/introductions</strong
            >
          </span>
          <span>
            3. Make a new file inside that folder <strong class="text-[0.9rem]"
              >introduction.md</strong
            >
          </span>
          <span> 4. Inside that file follow this format </span>
          <span
            class="ml-4 bg-foreground bg-opacity-10 text-sm w-[95%] p-2 mb-2"
          >
            --- <br />
            name: [your name] <br />
            interests: [3 comma separated interests] <br />
            description: [talk about yourself] <br />
            github: [add your github link] <br />

            ---
          </span>
          <span>
            5. Add an image in <strong class="text-[0.9rem]">public/</strong> and
            give it the same name as the folder
          </span>
          <span>
            6. Add your changes <strong class="text-[0.9rem]"
              >[git add .]</strong
            > for staging
          </span>
          <span>
            7. Commit your changes <strong class="text-[0.9rem]"
              >[git commit -m "descriptive message"]</strong
            >
          </span>
          <span>
            8. Push <strong class="text-[0.9rem]">[git push]</strong> your changes
            to your fork
          </span>
          <span>
            9. Make a pull request to the main <a
              href="https://github.com/aditya-jyoti/introduce-yourself"
              class="underline underline-offset-2">repository</a
            ></span
          >
        </div>
        <span class="mt-2">
          Great! Now all you have to do is wait for your pull request to be
          merged. <br /> In the meantime, you can check out other people's introductions
          and make some friends!
        </span>
      </div>
    </div>
    <div class="mt-4">
      <span class="text-2xl font-semibold">Introductions</span>
      <section class="flex flex-col p-4 gap-4">
        {
          allIntroductions.map((introduction) => (
            <div class="bg-gray bg-opacity-15 border-2 border-foreground border-opacity-15 p-2 px-4 flex justify-between items-center">
              <div class="flex flex-col md:w-full w-[95%]">
                <span class="text-xl font-semibold">
                  {introduction?.data.name}
                </span>
                <span class="flex-grow mt-1">
                  {introduction?.data.description}
                </span>
                <div class="flex justify-between items-center mt-2">
                  <div class="flex gap-2">
                    {introduction?.data.interests
                      .split(",")
                      .splice(0, 3)
                      .map((interest) => (
                        <span class="bg-gray bg-opacity-25 rounded-xl flex items-center justify-center px-2 md:py-1 font-semibold">
                          {interest}
                        </span>
                      ))}
                  </div>

                  <a
                    href={introduction?.data.github}
                    class="mr-2 md:flex hidden"
                  >
                    <i class="fa-brands fa-github text-3xl" />
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </section>
    </div>
  </section>
</Layout>
