---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <span class="text-4xl font-bold w-full">Hello Everyone!</span>
  <div class="border-b-2 border-foreground w-full mt-2"></div>
</Layout>
