---

---

<footer class="flex flex-col w-full items-center justify-center gap-2 text-center">
  <span class="md:text-xl text-lg font-semibold"
    >get in touch, i would love to hear from you!</span
  >
  <div class="flex gap-4 text-xl">
    <a href="https://github.com/aditya-jyoti">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/aditya-jyoti/">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://adityajyoti.com">
      <i class="fa-solid fa-user"></i>
    </a>
  </div>
  <span class="md:text-normal text-sm"><strong>&copy; Aditya Jyoti</strong>, 2024-25. All rights reserved</span
  >
</footer>
