---
import Footer from "@components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap"
      rel="stylesheet"
    />

    <title>Introduce Yourself</title>
  </head>
  <body class="min-h-screen w-full bg-background text-foreground font-main">
    <main class="w-3/5 mx-auto min-h-screen flex flex-col items-center p-8">
      <div class="flex-grow w-full">
        <slot />
      </div>
      <Footer />
    </main>
  </body>
</html>
